.main {
  padding-top: 117px;
  @media (max-width: 1024px) {
    padding-top: 60px;
  }
}
.hero-wrap {
  padding: 50px 65px 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $lightBlue;
  border-radius: 10px;
  @media (max-width: 1200px) {
    align-items: center;
  }
  @media (max-width: 1024px) {
    padding: 20px 10px;
    flex-direction: column;
  }
}

.hero-left {
  max-width: 665px;
  width: 100%;
  @media (max-width: 1024px) {
    max-width: none;
    display: flex;
    flex-direction: column;
  }
  & .btn-blue {
    @media (max-width: 1024px) {
      margin: 0 auto;
    }
  }
}
.hero-title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  @media (max-width: 1024px) {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 38px;
  }
}

.hero-text {
  margin-bottom: 5px;
  letter-spacing: 0.005em;
  @media (max-width: 1024px) {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
  }
}

.hero-sub-text {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.025em;
  margin-bottom: 15px;
  color: $lightGrey;
  @media (max-width: 1024px) {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
  }
}

.partners-block {
  margin-top: 60px;
  @media (max-width: 1024px) {
    margin-top: 20px;
    text-align: center;
  }
}

.partners-text {
  letter-spacing: 0.015em;
  @media (max-width: 1024px) {
    font-size: 12px;
    line-height: 14px;
  }
}

.partners {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1024px) {
    margin-bottom: 30px;
    justify-content: center;
  }
}

.partners-item {
  margin: 6px 24px 15px 0;
  min-width: 90px;
  @media (max-width: 1024px) {
    margin: 15px 20px 0 0;
  }
}

.hero-right {
  padding-left: 100px;
  padding-bottom: 20px;
  @media (max-width: 1024px) {
    padding: 0 40px;
  }
}

.hero-img {
  position: relative;
  width: 370px;
  @media (max-width: 1024px) {
    max-width: 370px;
    width: 100%;
  }
  @media (max-width: 600px) {
    max-width: 340px;
  }
}

.hero-decor {
  position: absolute;
  max-width: 60%;
  z-index: 1;
  &.decor-1 {
    top: -10%;
    left: -22%;
    animation-name: decor1;
    animation-duration: 1s;
    @media (max-width: 1024px) {
      top: -6%;
      left: -12%;
    }
  }

  &.decor-2 {
    top: 6%;
    right: -17%;
    animation-name: decor1;
    animation-duration: 1.5s;
    @media (max-width: 1024px) {
      top: 12%;
      right: -19%;
    }
  }

  &.decor-3 {
    top: 46%;
    left: -35%;
    animation-name: decor1;
    animation-duration: 2s;
    @media (max-width: 1024px) {
      top: 65%;
      left: -17%;
    }
  }
}

@keyframes decor1 {
  50% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes decor2 {
  50% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes decor3 {
  50% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

.reasons {
  padding: 100px 0 75px;
  @media (max-width: 1024px) {
    padding: 40px 0 30px;
  }
}

.reasons-container {
  padding-left: 15px;
  margin-left: calc(50% - 643px);
  @media (max-width: 1286px) {
    max-width: 1286px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.section-title-wrap {
  margin-bottom: 40px;
  max-width: 1256px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1024px) {
    margin-bottom: 15px;
  }
}
.section-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  @media (max-width: 1024px) {
    font-size: 20px;
    line-height: 1.3em;
  }
  span {
    color: #909090;
  }
}

.boost-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 10px;
  }
}
.boost-text {
  max-width: 440px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.0025em;
  @media (max-width: 1024px) {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}
