// Typography
$roboto: 'Roboto', sans-serif;
$source: 'Source Sans Pro', sans-serif;

// Colors
$main: #001e41;
$white: #fff;
$grey: #7d7d7d;
$lightGrey: #919191;
$blue: #5d78ff;
$lightBlue: #e2f2ff;
$purple: #596fdd;
