// Typography
$roboto: 'Roboto', sans-serif;
$source: 'Source Sans Pro', sans-serif;

// Colors
$main: #001e41;
$white: #fff;
$grey: #7d7d7d;
$lightGrey: #919191;
$lightenGrey: #f3f4f6;
$ligGrey: #d5d5d6;
$liGrey: #bdbdbd;
$blue: #5d78ff;
$lightBlue: #e2f2ff;
$lightenBlue: #e3eeff;
$purple: #596fdd;
$disabledBtn: #aed1ff;
$red: red;
